.header{
  height: 55px;

 display: flex;
 justify-content: space-between;
 align-items: center;
 

 position: fixed;
 top: 0;
 right: 0;
 left: 0;
 z-index: 100;


 background-color: white;
 border-bottom-width:1px ;
 border-bottom-style: solid;
 border-bottom-color: rgb(228, 228, 228);
 
 margin-bottom: 40px; 
}

.left-section{
  display: flex;
  align-items: center; 
}

.hamburger-menu{
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo{
  height: 20px;
}

.middle-section{
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.search-bar{
  display: flex;
  flex: 1;
  height: 36px;
  font-size: 16px;
  padding-left: 10px;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  border-color: rgb(192, 192, 192);
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;

}

.search-bar::placeholder{
  font-family: Roboto, Arial;
  font-size: 16px;
}

.search-button{
  height: 40px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 10px;
  position: relative;
}

.search-icon{
  height: 25px;

}

.search-button, .voice-search-button, .upload-icon-box, .youtube-apps-icon-container, .notification-icons-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button .tooltip, .voice-search-button .tooltip, .upload-icon-box .tooltip, .youtube-apps-icon-container .tooltip, .notification-icons-container .tooltip{
  background-color: gray;
  color: white;
  position: absolute;
  font-size: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
  cursor: pointer;
  
}

.search-button:hover .tooltip, .voice-search-button:hover .tooltip, .upload-icon-box:hover .tooltip, .youtube-apps-icon-container:hover .tooltip, .notification-icons-container:hover .tooltip{
  opacity: 1;
}

.voice-search-button{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(248, 248, 248);
  position: relative;
}



.right-section{
  width: 180px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;

}


.voice-search-icon{
  height: 24px;
}



.upload-icon{
  height: 24px;
}

.youtube-apps-icon{
  height: 24px;
}

.notification-icons-container{
  position: relative;
}

.notifications-count{
  background-color: rgb(202, 0, 0);
  color: white;
  font-family: Roboto, Arial;
  font-size: 11px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  position: absolute;
  top: -2px;
  right: -5px;
}
.notifications-icon{
  height: 24px;
}

.current-user-picture{
  height: 32px;
  border-radius: 16;
}

